@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .theme-color2 {

        --root-background-color: white;
        --root-color: black;

        --primary-color: #4832cd;
        --secondary-color: #e12283;
        --success-color: #51bb25;
        --info-color: #A927F9;
        --warning-color: #F8D62C;
        --danger-color: #DC3544;
        --light-color: #F4F4F4;
        --dark-color: #2C323E;

        --hover-color: #8cbcff;

        --filled_primary_text_color: #4832cd;
        --contained_primary_text_color: #FFF;
        --outlined_primary_text_color: #4832cd;
        --filled_primary2_text_color: #000;
        --contained_primary2_text_color: #FFF;
        --outlined_primary2_text_color: #000;
        --filled_secondary_text_color: #e12283;
        --contained_secondary_text_color: #FFF;
        --outlined_secondary_text_color: #e12283;
        --filled_secondary2_text_color: #000;
        --contained_secondary2_text_color: #000;
        --outlined_secondary2_text_color: #000;
        --contained_success_text_color: #FFF;
        --contained_info_text_color: #FFF;
        --contained_warning_text_color: #000;
        --contained_danger_text_color: #FFF;
        --contained_light_text_color: #000;
        --contained_dark_text_color: #FFF;

        --primary_selected_row_table_color: #A9B7FC;
        --secondary_selected_row_table_color: #A9B7FC;
        --success_selected_row_table_color: #A9B7FC;
        --info_selected_row_table_color: #A9B7FC;
        --warning_selected_row_table_color: #A9B7FC;
        --danger_selected_row_table_color: #A9B7FC;
        --light_selected_row_table_color: #A9B7FC;
        --dark_selected_row_table_color: #A9B7FC;

        --filled_primary_chart_color1: #e12283;
        --filled_primary_chart_color2: #29B6F6;
        --filled_primary_chart_color3: #FC740D;
        --contained_primary_chart_color1: #e12283;
        --contained_primary_chart_color2: #29B6F6;
        --contained_primary_chart_color3: #FC740D;
        --outlined_primary_chart_color1: #e12283;
        --outlined_primary_chart_color2: #29B6F6;
        --outlined_primary_chart_color3: #FC740D;
        --filled_secondary_chart_color1: #4832cd;
        --filled_secondary_chart_color2: #FC740D;
        --filled_secondary_chart_color3: #29B6F6;
        --contained_secondary_chart_color1: #4832cd;
        --contained_secondary_chart_color2: #FC740D;
        --contained_secondary_chart_color3: #29B6F6;
        --outlined_secondary_chart_color1: #4832cd;
        --outlined_secondary_chart_color2: #FC740D;
        --outlined_secondary_chart_color3: #29B6F6;

        --filled_primary_chart_bg_color1: #FCF8FE;
        --filled_primary_chart_bg_color2: #F7EEFF;
        --contained_primary_chart_bg_color1: #FCF8FE;
        --contained_primary_chart_bg_color2: #F7EEFF;
        --outlined_primary_chart_bg_color1:  #FCF8FE;
        --outlined_primary_chart_bg_color2: #F7EEFF;
        --filled_secondary_chart_bg_color1: #FAFAFA;
        --filled_secondary_chart_bg_color2: #ECEFF1;
        --contained_secondary_chart_bg_color1: #FAFAFA;
        --contained_secondary_chart_bg_color2: #ECEFF1;
        --outlined_secondary_chart_bg_color1: #FAFAFA;
        --outlined_secondary_chart_bg_color2: #ECEFF1;
    }

    .dark .theme-color2, .dark.theme-color2, .theme-color2 .dark {

        --root-background-color: black;
        --root-color: white;

        --primary-color: #4832cd;
        --secondary-color: #e12283;
        --success-color: #51BB25;
        --info-color: #A927F9;
        --warning-color: #F8D62C;
        --danger-color: #DC3544;
        --light-color: #2d2e3e;
        --dark-color: #2d3340;

        --hover-color: #8cbcff;

        --filled_primary_text_color: #4832cd;
        --contained_primary_text_color: #FFF;
        --outlined_primary_text_color: #4832cd;
        --filled_primary2_text_color: #000;
        --contained_primary2_text_color: #FFF;
        --outlined_primary2_text_color: #000;
        --filled_secondary_text_color: #e12283;
        --contained_secondary_text_color: #FFF;
        --outlined_secondary_text_color: #e12283;
        --filled_secondary2_text_color: #000;
        --contained_secondary2_text_color: #000;
        --outlined_secondary2_text_color: #000;
        --contained_success_text_color: #FFF;
        --contained_info_text_color: #FFF;
        --contained_warning_text_color: #000;
        --contained_danger_text_color: #FFF;
        --contained_light_text_color: #000;
        --contained_dark_text_color: #FFF;

        --primary_selected_row_table_color: #A9B7FC;
        --secondary_selected_row_table_color: #A9B7FC;
        --success_selected_row_table_color: #A9B7FC;
        --info_selected_row_table_color: #A9B7FC;
        --warning_selected_row_table_color: #A9B7FC;
        --danger_selected_row_table_color: #A9B7FC;
        --light_selected_row_table_color: #A9B7FC;
        --dark_selected_row_table_color: #A9B7FC;

        --filled_primary_chart_color1: #e12283;
        --filled_primary_chart_color2: #29B6F6;
        --filled_primary_chart_color3: #FC740D;
        --contained_primary_chart_color1: #e12283;
        --contained_primary_chart_color2: #29B6F6;
        --contained_primary_chart_color3: #FC740D;
        --outlined_primary_chart_color1: #e12283;
        --outlined_primary_chart_color2: #29B6F6;
        --outlined_primary_chart_color3: #FC740D;
        --filled_secondary_chart_color1: #4832cd;
        --filled_secondary_chart_color2: #FC740D;
        --filled_secondary_chart_color3: #29B6F6;
        --contained_secondary_chart_color1: #4832cd;
        --contained_secondary_chart_color2: #FC740D;
        --contained_secondary_chart_color3: #29B6F6;
        --outlined_secondary_chart_color1: #4832cd;
        --outlined_secondary_chart_color2: #FC740D;
        --outlined_secondary_chart_color3: #29B6F6;

        --filled_primary_chart_bg_color1: #FCF8FE;
        --filled_primary_chart_bg_color2: #F7EEFF;
        --contained_primary_chart_bg_color1: #FCF8FE;
        --contained_primary_chart_bg_color2: #F7EEFF;
        --outlined_primary_chart_bg_color1:  #FCF8FE;
        --outlined_primary_chart_bg_color2: #F7EEFF;
        --filled_secondary_chart_bg_color1: #FAFAFA;
        --filled_secondary_chart_bg_color2: #ECEFF1;
        --contained_secondary_chart_bg_color1: #FAFAFA;
        --contained_secondary_chart_bg_color2: #ECEFF1;
        --outlined_secondary_chart_bg_color1: #FAFAFA;
        --outlined_secondary_chart_bg_color2: #ECEFF1;

    }

}
