@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .theme-dark-color4 {

        --primary-color: #4c2fb9;
        --secondary-color: #2e98dc;
        --success-color: #51BB25;
        --info-color: #A927F9;
        --warning-color: #F8D62C;
        --danger-color: #DC3544;
        --light-color: #2d2e3e;
        --dark-color: #2d3340;

        --hover-color: #8cbcff;

        --filled_primary_text_color: #4c2fb9;
        --contained_primary_text_color: #FFF;
        --outlined_primary_text_color: #4c2fb9;
        --filled_primary2_text_color: #000;
        --contained_primary2_text_color: #FFF;
        --outlined_primary2_text_color: #000;
        --filled_secondary_text_color: #2e98dc;
        --contained_secondary_text_color: #FFF;
        --outlined_secondary_text_color: #2e98dc;
        --filled_secondary2_text_color: #000;
        --contained_secondary2_text_color: #000;
        --outlined_secondary2_text_color: #000;
        --contained_success_text_color: #FFF;
        --contained_info_text_color: #FFF;
        --contained_warning_text_color: #000;
        --contained_danger_text_color: #FFF;
        --contained_light_text_color: #000;
        --contained_dark_text_color: #FFF;

        --primary_selected_row_table_color: #A9B7FC;
        --secondary_selected_row_table_color: #A9B7FC;
        --success_selected_row_table_color: #A9B7FC;
        --info_selected_row_table_color: #A9B7FC;
        --warning_selected_row_table_color: #A9B7FC;
        --danger_selected_row_table_color: #A9B7FC;
        --light_selected_row_table_color: #A9B7FC;
        --dark_selected_row_table_color: #A9B7FC;

        --filled_primary_chart_color1: #2e98dc;
        --filled_primary_chart_color2: #F73164;
        --filled_primary_chart_color3: #FC740D;
        --contained_primary_chart_color1: #2e98dc;
        --contained_primary_chart_color2: #F73164;
        --contained_primary_chart_color3: #FC740D;
        --outlined_primary_chart_color1: #2e98dc;
        --outlined_primary_chart_color2: #F73164;
        --outlined_primary_chart_color3: #FC740D;
        --filled_secondary_chart_color1: #4c2fb9;
        --filled_secondary_chart_color2: #FC740D;
        --filled_secondary_chart_color3: #F73164;
        --contained_secondary_chart_color1: #4c2fb9;
        --contained_secondary_chart_color2: #FC740D;
        --contained_secondary_chart_color3: #F73164;
        --outlined_secondary_chart_color1: #4c2fb9;
        --outlined_secondary_chart_color2: #FC740D;
        --outlined_secondary_chart_color3: #F73164;

        --filled_primary_chart_bg_color1: #FCF8FE;
        --filled_primary_chart_bg_color2: #F7EEFF;
        --contained_primary_chart_bg_color1: #FCF8FE;
        --contained_primary_chart_bg_color2: #F7EEFF;
        --outlined_primary_chart_bg_color1:  #FCF8FE;
        --outlined_primary_chart_bg_color2: #F7EEFF;
        --filled_secondary_chart_bg_color1: #FAFAFA;
        --filled_secondary_chart_bg_color2: #ECEFF1;
        --contained_secondary_chart_bg_color1: #FAFAFA;
        --contained_secondary_chart_bg_color2: #ECEFF1;
        --outlined_secondary_chart_bg_color1: #FAFAFA;
        --outlined_secondary_chart_bg_color2: #ECEFF1;
    }

}
