@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .theme-dark-color5 {

        --primary-color: #4faeff;
        --secondary-color: #F73164;
        --success-color: #51BB25;
        --info-color: #A927F9;
        --warning-color: #F8D62C;
        --danger-color: #DC3544;
        --light-color: #F4F4F4;
        --dark-color: #2C323E;

        --hover-color: #8cbcff;

    }

}
