@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400');

/*noinspection CssUnknownTarget*/
@import "react-dropzone-uploader/dist/styles.css";
/*noinspection CssUnknownTarget*/
@import "swiper/swiper-bundle.css";
/*noinspection CssUnknownTarget*/
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* themes */
@import 'themes/default.css';
@import 'themes/color1.css';
@import 'themes/color2.css';
@import 'themes/color3.css';
@import 'themes/color4.css';
@import 'themes/color5.css';
@import 'themes/color6.css';
@import 'themes/sunny.css';
@import 'themes/marine.css';
@import 'themes/cloudy.css';
@import 'themes/mint.css';
@import 'themes/purple.css';
@import 'themes/vintage.css';
@import 'themes/flashy.css';
@import 'themes/playful.css';
@import 'themes/orange.css';
@import 'themes/play.css';
@import 'themes/fluo.css';

@layer components {

    #root {
        background-color: var(--color-background);
        color: var(--color-text);
    }

    .x-field-min-h {
        min-height: 64px;
    }

    .x-buttons {
        @apply flex items-center flex-wrap space-x-4 sm:space-x-2 xs:space-x-0
    }

    .x-p-small {
        padding: 15px 17px;
    }

    .x-pl-drawer {
        padding-left: 280px;
    }

    .x-m-small {
        margin: 15px 20px 13px 20px;
    }

    .x-border-l-transparent {
        border-left-color: transparent !important;
    }
    .x-border-t-transparent {
        border-top-color: transparent !important;
    }
    .x-border-r-transparent {
        border-right-color: transparent !important;
    }
    .x-border-b-transparent {
        border-bottom-color: transparent !important;
    }
    .x-border-x-transparent {
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }
    .x-border-y-transparent {
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
    }

    .animated {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .animated:hover {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes tada {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }
        30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
        40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes tada {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }
        30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
        40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .tada {
        -webkit-animation-name: tada;
        animation-name: tada;
    }
}
