@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400');

/*noinspection CssUnknownTarget*/
@import "react-dropzone-uploader/dist/styles.css";
/*noinspection CssUnknownTarget*/
@import "swiper/swiper-bundle.css";
/*noinspection CssUnknownTarget*/
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* themes */
@import 'themes/default.css';
@import 'themes/color1.css';
@import 'themes/color2.css';
@import 'themes/color3.css';
@import 'themes/color4.css';
@import 'themes/color5.css';
@import 'themes/color6.css';
@import 'themes/sunny.css';
@import 'themes/marine.css';
@import 'themes/cloudy.css';
@import 'themes/mint.css';
@import 'themes/purple.css';
@import 'themes/vintage.css';
@import 'themes/flashy.css';
@import 'themes/playful.css';
@import 'themes/orange.css';
@import 'themes/play.css';
@import 'themes/fluo.css';

@layer components {

    #root {
        background-color: var(--color-background);
        color: var(--color-text);
    }

    .x-field-min-h {
        min-height: 64px;
    }

    .x-buttons {
        @apply flex items-center flex-wrap space-x-4 sm:space-x-2 xs:space-x-0
    }

    .x-p-small {
        padding: 15px 17px;
    }

    .x-pl-drawer {
        padding-left: 280px;
    }

    .x-m-small {
        margin: 15px 20px 13px 20px;
    }

    .x-border-l-transparent {
        border-left-color: transparent !important;
    }

    .x-border-t-transparent {
        border-top-color: transparent !important;
    }

    .x-border-r-transparent {
        border-right-color: transparent !important;
    }

    .x-border-b-transparent {
        border-bottom-color: transparent !important;
    }

    .x-border-x-transparent {
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }

    .x-border-y-transparent {
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
    }

    .animated {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .animated:hover {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes tada {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }
        30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
        40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes tada {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }
        30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
        40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .tada {
        -webkit-animation-name: tada;
        animation-name: tada;
    }

    @-webkit-keyframes pulsing {
        0% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

    @keyframes pulsing {
        0% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

    .pulsing {
        -webkit-animation-name: pulsing;
        animation-name: pulsing;
    }

    @-webkit-keyframes shake {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        10% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        30% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        50% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        70% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        90% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        20% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
        40% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
        60% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
        80% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
    }

    @keyframes shake {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        10% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        30% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        50% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        70% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        90% {
            -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
        }
        20% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
        40% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
        60% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
        80% {
            -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
        }
    }

    .shake {
        -webkit-animation-name: shake;
        animation-name: shake;
    }

    @-webkit-keyframes swing {
        20% {
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
        }
        40% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
        60% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }
        80% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    @keyframes swing {
        20% {
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
        }
        40% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
        60% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }
        80% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    .swing {
        -webkit-animation-name: swing;
        animation-name: swing;
    }

    @-webkit-keyframes wobble {
        0% {
            -webkit-transform: none;
            transform: none;
        }
        15% {
            -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
            transform: translate3d(-25%, 0, 0) rotate(-5deg);
        }
        30% {
            -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
            transform: translate3d(20%, 0, 0) rotate(3deg);
        }
        45% {
            -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
            transform: translate3d(-15%, 0, 0) rotate(-3deg);
        }
        60% {
            -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
            transform: translate3d(10%, 0, 0) rotate(2deg);
        }
        75% {
            -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
            transform: translate3d(-5%, 0, 0) rotate(-1deg);
        }
        100% {
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes wobble {
        0% {
            -webkit-transform: none;
            transform: none;
        }
        15% {
            -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
            transform: translate3d(-25%, 0, 0) rotate(-5deg);
        }
        30% {
            -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
            transform: translate3d(20%, 0, 0) rotate(3deg);
        }
        45% {
            -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
            transform: translate3d(-15%, 0, 0) rotate(-3deg);
        }
        60% {
            -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
            transform: translate3d(10%, 0, 0) rotate(2deg);
        }
        75% {
            -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
            transform: translate3d(-5%, 0, 0) rotate(-1deg);
        }
        100% {
            -webkit-transform: none;
            transform: none;
        }
    }

    wobble {
        -webkit-animation-name: wobble;
        animation-name: wobble;
    }

    @-webkit-keyframes jackInTheBox {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
        }
        50% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
        70% {
            -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes jackInTheBox {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
        }
        50% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
        70% {
            -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .jackInTheBox {
        -webkit-animation-name: jackInTheBox;
        animation-name: jackInTheBox;
    }

    @-webkit-keyframes flipInX {
        0% {
            -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotateX(-20deg);
            transform: perspective(400px) rotateX(-20deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotateX(-5deg);
            transform: perspective(400px) rotateX(-5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }

    @keyframes flipInX {
        0% {
            -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotateX(-20deg);
            transform: perspective(400px) rotateX(-20deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotateX(-5deg);
            transform: perspective(400px) rotateX(-5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }

    .flipInX {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
    }

    @-webkit-keyframes flipInY {
        0% {
            -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(-5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }

    @keyframes flipInY {
        0% {
            -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(-5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }

    .flipInY {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInY;
        animation-name: flipInY;
    }
}
